<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="static\styles\login_styles.css">
    <!-- <link rel = "stylesheet" href="static\styles\global_styles.css"> -->
</head>
<body>
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
            <input type="checkbox" class="toggle">
            <span class="slider"></span>
            <span class="card-side"></span>
            <!-- 卡片 -->
            <div class="flip-card__inner">
                <!-- 正面 -->
                <div class="flip-card__front">
                    <div class="title">学生登录</div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form class="flip-card__form" action="/login" method="POST">
                        <input class="flip-card__input" name="username" placeholder="Username" type="text" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <input type="hidden" name="role" value="student">
                        <button class="flip-card__btn">Let`s go!</button>
                        <p>还没有账号？立即<a href="{{ url_for('register') }}" class="register-link">注册</a></p>
                    </form>
                    
                </div>
                <!-- 背面 -->
                <div class="flip-card__back">
                    <div class="title">教师登录</div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form class="flip-card__form" action="/login" method="POST">
                        <input class="flip-card__input" name="username" placeholder="Username" type="text" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <input type="hidden" name="role" value="teacher">
                        <button class="flip-card__btn">Confirm!</button>
                        <p>还没有账号？立即<a href="{{ url_for('register') }}" class="register-link">注册</a></p>
                    </form>
                </div>
            </div>
            </label>
        </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/roleManager.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/alert.js') }}"></script>
</body>
</html>
